@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,700;1,9..40,400&family=Poppins&display=swap');
* {
    padding: 0px;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.vericla-line {
    height: 85px;
    width: 2px;
    background-color: rgb(248, 247, 245);
}

nav {
    box-sizing: border-box;
    position: sticky;
    box-shadow: 0px 0px 1px black;
}

.my-card {
    white-space: nowrap;
    overflow-x: scroll;
}

.product-card {
    width: 130px;
    height: 199px;
}