@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,700;1,9..40,400&family=Poppins&display=swap');
* {
    padding: 0px;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.vericla-line {
    height: 85px;
    width: 2px;
    background-color: rgb(248, 247, 245);
}

#id {
    width: 5%;
}

#address {
    width: 15%;
    text-align: left;
    padding-left: 20px;
}

#search {
    width: 65%;
    text-align: left;
}

#login {
    width: 15%;
    margin: auto;
}

nav {
    box-sizing: border-box;
    position: sticky;
    align-items: center;
    box-shadow: 0px 0px 1px black;
}

.my-card {
    white-space: nowrap;
    overflow-x: scroll;
}

.product-card {
    width: 130px;
    height: auto;
}

.my-prod-card {
    box-sizing: border-box;
    width: 220px;
    height: 350px;
    /* white-space: wrap; */
}

.name {
    font-size: 18px;
    /* white-space: wrap; */
}

.thumbnail {
    width: 160px;
    height: 170px;
    margin: auto;
}

.info {
    width: 95%;
    text-wrap: wrap;
}

.price {
    font-weight: bold;
}

@media screen and (max-width:768px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 20px;
    }
    nav>span {
        display: none;
    }
    nav>input {
        width: 100%;
    }
    #address {
        padding-top: 12px;
        /* margin: auto; */
        width: auto;
        text-align: start;
    }
    .search {
        width: 100%;
        padding: 10px;
    }
    #login {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0px;
    }
}

@media screen and (min-width:768px) and (max-width:992px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
    }
    nav>span {
        display: none;
    }
    nav>input {
        width: 100%;
    }
    #address {
        padding-top: 12px;
        margin: auto;
        width: auto;
    }
    .search {
        width: 100%;
        padding: 10px;
    }
    #login {
        display: flex;
        flex-direction: column;
        width: auto;
    }
}